body{
    background-color: lightgray;
    font-family: sans-serif;
}
.container{
    box-sizing: border-box;
    background-color: white;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 80px;
    padding: 25px 0;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
}
.logo{
    width: 150px;
    display: block;
    margin: auto;
    border: 2px solid gray;
    border-radius: 50%;
}
.title{
    width: 150px;
    margin: 25px auto;
    font-size: 25px;
    border-bottom: 5px solid lightgray;
}
.desc{
    text-align: center;
    font-size: 14px;
}
.social{
    background-color: lightgray;
    height: 60px;
    text-align: center;
}
.social img{
    width: 40px;
    margin: 10px;
}
